h3{
	align-content: center;
}

body{
	background-image: url(60.jpg);
  	text-align: center;
	color: white;
	overflow: hidden;
	margin: 0%;
}

nav ul {
	border-radius: 2px;
	background: black;
}

nav ul li{
	position: left;
	display: inline-block;
}

nav ul li a{
	text-decoration: none;
	color: white;
	text-align: right;
}

.container {
	background: black;
	border-radius: 2px;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


img {
  width: 100;
} 

@media (min-width: 600px){
	.container{
		width: 80%;
		height: 100%
	}
}

@media (min-width: 1280px){
	.container{
		width: 75%;
		height: 100%;
	}
}